<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Honda</title>
    <link rel="shortcut icon" href="assets/logohonda.png" type="image/png" />
    <link rel="stylesheet" href="homestyle.css" />
    <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="homejs.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
      var app = angular.module("myApp", []);

      app.controller("myController", function ($scope) {
        $scope.message = "Welcome to Honda Angular App!";

        // Sample card data for Promotions
        $scope.promotions = [
          {
            image: "assets/civictyper.png",
            description: "Civic Type R start from Rp1.300.000.000 ",
          },
          {
            image: "assets/nsx.png",
            description: "All New NSX start from Rp3.200.000.000 ",
          },
          {
            image: "assets/crv.png",
            description: "ALL NEW CR-V start from Rp739.900.000",
          },
          {
            image: "assets/hondae.png",
            description: "Honda E start from Rp553.000.000",
          },
          {
            image: "assets/hondahrv.png",
            description: "ALL NEW HR-V start from Rp377.800.000",
          },
          {
            image: "assets/briors.png",
            description: "Brio RS start from Rp236.900.000",
          },
          {
            image: "assets/hondamobilio.png",
            description: "Mobilio start from Rp235.900.000 ",
          },
          {
            image: "assets/cityhatchback.png",
            description: "City RS start from Rp345.300.000",
          },
          {
            image: "assets/accord.png",
            description: "New Accord start from Rp787.300.000",
          },
          {
            image: "assets/wrv.png",
            description: "WR-V start from Rp270.200.000",
          },
          {
            image: "assets/brv.png",
            description: "BR-V start from Rp289.800.000",
          },
          {
            image: "assets/civicrs.png",
            description: "Civic RS start from Rp609.500.000",
          },
          // Add more promotions as needed
        ];

        $scope.newsItems = [
          {
            title: "Honda Hadirkan Honda Prelude Concept di Los Angeles Auto Show 2023",
            image: "assets/berita1edit.jpg",
            link: "https://www.honda-indonesia.com/news/pertama-kali-tampil-di-amerika-honda-hadirkan-honda-prelude-concept-di-los-angeles-auto-show-2023",
          },
          {
            title: "All New Honda Civic Type R Raih Penghargaan dari Ajang Carvaganza Editors Choice Award 2023",
            image: "assets/berita2.webp",
            link: "https://www.honda-indonesia.com/news/all-new-honda-civic-type-r-raih-penghargaan-dari-ajang-carvaganza-editors-choice-award-2023",
          },
          {
            title: "Para Pembalap Honda Racing Indonesia Berhasil Mengunci Gelar Juara Nasional di Seri Terakhir ISSOM 2023",
            image: "assets/berita3.png",
            link: "https://www.honda-indonesia.com/news/para-pembalap-honda-racing-indonesia-berhasil-mengunci-gelar-juara-nasional-di-seri-terakhir-issom-2023",
          },
        ];
      });
      app.controller("ImageCarouselController", function ($scope, $interval) {
        $scope.imageIndex = 0;

        $scope.carouselImages = ["assets/home11.jpg", "assets/home22.jpg", "assets/hero1.jpg"];

        $scope.nextImage = function () {
          $scope.imageIndex = ($scope.imageIndex + 1) % $scope.carouselImages.length;
          $scope.currentImage = $scope.carouselImages[$scope.imageIndex];
        };

        $scope.currentImage = $scope.carouselImages[$scope.imageIndex];

        $interval($scope.nextImage, 5000);
      });

      app.controller("OwnerCardController", function ($scope) {
        $scope.owners = [
          {
            title: "Owner Waranty",
            description: "Every new Honda comes with a limited warranty that provides coverage in the unlikely event a repair is needed in the first years of ownership.",
          },
          {
            title: "Service",
            description: "When it comes to keeping your vehicle in tip-top shape, only Honda Service can deliver the assurance and peace of mind that you´re looking for.",
          },
        ];

        $scope.handleButtonClick = function (title) {
          alert("Button clicked for " + title);
        };

        $scope.openWarantyPopup = function () {
          document.getElementById("warantyPopup").style.display = "block";
        };

        $scope.openServicePopup = function () {
          document.getElementById("servicePopup").style.display = "block";
        };

        $scope.submitVehicleInfo = function () {
          var minYear = 2022;
          var maxYear = 2025;
          var randomYear = Math.floor(Math.random() * (maxYear - minYear + 1)) + minYear;
          var randomMonth = Math.floor(Math.random() * 11) + 1;
          var randomDay = Math.floor(Math.random() * 28) + 1;
          var warrantyExpirationDate = new Date(randomYear, randomMonth, randomDay);

          document.getElementById("warrantyExpirationDate").textContent = warrantyExpirationDate.toLocaleDateString();

          document.getElementById("warrantyExpirationPopup").style.display = "block";
        };

        $scope.closeFormPopup = function () {
          document.getElementById("vehicleType").value = "";
          document.getElementById("licensePlate").value = "";
          document.getElementById("engineNumber").value = "";

          document.getElementById("warrantyExpirationPopup").style.display = "none";

          document.getElementById("warantyPopup").style.display = "none";
        };

        $scope.submittedServiceData = {};
        $scope.showServiceDataContainer = false;

        $scope.submitServiceInfo = function () {
          $scope.submittedServiceData = {
            serviceType: $scope.serviceType,
            appointmentDate: document.getElementById("appointmentDate").value,
            appointmentTime: document.getElementById("appointmentTime").value,
          };

          $scope.showServiceDataContainer = true;

          document.getElementById("servicePopup").style.display = "none";
        };

        $scope.openServicePopup = function () {
          document.getElementById("serviceType").selectedIndex = -1;
          document.getElementById("appointmentDate").value = "";
          document.getElementById("appointmentTime").value = "";
          document.getElementById("servicePopup").style.display = "block";
        };

        $scope.closeWarantyPopup = function () {
          document.getElementById("vehicleType").value = "";
          document.getElementById("licensePlate").value = "";
          document.getElementById("engineNumber").value = "";
          document.getElementById("warrantyExpirationPopup").value = "";
          document.getElementById("warantyPopup").style.display = "none";
        };

        $scope.closeServicePopup = function () {
          document.getElementById("servicePopup").style.display = "none";
        };

        $scope.showServiceDataContainer = false;
        $scope.submittedServiceData = {}; // Initialize with an empty object

        // Function to toggle the container visibility and reset service data
        $scope.toggleServiceDataContainer = function () {
          $scope.showServiceDataContainer = !$scope.showServiceDataContainer;
          $scope.submittedServiceData = {}; // Reset service data
        };
      });

      app.controller("AboutUsController", function ($scope) {
        $scope.kelompok = "ng-antuk";

        $scope.members = [
          {
            name: "Richard Christian",
            code: "Python",
            nim: 535220018,
            ttl: "Jakarta, 24 Oktober 2002",
            image: "assets/one.jpg",
          },
          {
            name: "Nelson",
            code: "Java",
            nim: 535220021,
            ttl: "Singkawang, 10 Agustus 2004",
            image: "assets/two.jpg",
          },
          {
            name: "Jessen Chayadi",
            code: "Semua",
            nim: 535220023,
            ttl: "Jakarta, 17 Juni 2004",
            image: "assets/tree.jpg",
          },
          {
            name: "Finnia Li",
            code: "C++",
            nim: 535220030,
            ttl: "Pangkalpinang, 20 Febuary 2004",
            image: "assets/four.jpg",
          },
          {
            name: "Valentino A.Radjawane",
            code: "HTML",
            nim: 535220040,
            ttl: "Papua, 14 Juni 2004",
            image: "assets/five.jpg",
          },
          // Add more members as needed
        ];
      });
    </script>
  </head>
  <body ng-app="myApp" ng-controller="myController">
    <div class="container">
      <nav class="sidebar locked">
        <div class="logo_items flex">
          <span class="nav_image">
            <img src="assets/logohonda.png" alt="logo_img" />
          </span>
          <span class="logo_name">Honda</span>
          <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
          <i class="bx bx-x" id="sidebar-close"></i>
        </div>

        <div class="menu_container">
          <div class="menu_items">
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Menu</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="#home" class="link flex">
                  <i class="bx bx-home-alt"></i>
                  <span>Home</span>
                </a>
              </li>
              <li class="item">
                <a href="#owner" class="link flex">
                  <i class="bx bx-user"></i>
                  <span>Owner</span>
                </a>
              </li>
              <li class="item">
                <a href="#promotion" class="link flex">
                  <i class="bx bxs-discount"></i>
                  <span>Promotion</span>
                </a>
              </li>
              <li class="item">
                <a href="#news" class="link flex">
                  <i class="bx bx-news"></i>
                  <span>News</span>
                </a>
              </li>
              <li class="item">
                <a href="#about us" class="link flex">
                  <i class="bx bx-group"></i>
                  <span>About Us</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="main">
        <section id="home" class="section">
          <div class="image-carousel" ng-controller="ImageCarouselController">
            <img ng-src="{{ currentImage }}" alt="Honda Carousel" />
            <div class="carousel-text">
              <h2>HONDA</h2>
              <p>Fueling Your Drive, Even When 'Ng-Antuk' Kicks in</p>
              <p>Welcome to Ng-Antuk Honda!</p>
            </div>
          </div>
          <button class="home-button">
            <a href="#promotion"> Discover Now </a>
          </button>
        </section>

        <section id="owner" ng-controller="OwnerCardController" class="section">
          <h3>Honda Owners</h3>

          <div class="cardown-container">
            <div class="cardown" ng-repeat="owner in owners">
              <div class="cardown-content">
                <h2>{{ owner.title }}</h2>
                <p>{{ owner.description }}</p>
                <button class="owner-button" ng-if="owner.title === 'Owner Waranty'" ng-click="openWarantyPopup()">Check Warranty</button>
                <button class="owner-button" ng-if="owner.title === 'Service'" ng-click="openServicePopup()">Add Your Vehicle</button>
              </div>
            </div>
          </div>
          <div class="card-container">
            <div class="servicecard" ng-show="showServiceDataContainer">
              <h2>Service Information</h2>
              <p>Service Type: {{ submittedServiceData.serviceType }}</p>
              <p>Appointment Date: {{ submittedServiceData.appointmentDate }}</p>
              <p>Appointment Time: {{ submittedServiceData.appointmentTime }}</p>
              <button type="button" class="cancel-button" ng-click="toggleServiceDataContainer()">Cancel</button>
            </div>
          </div>
          <div class="form-popup" id="warantyPopup">
            <div class="form-popup-content">
              <span class="close-button" ng-click="closeWarantyPopup()">&times;</span>
              <h2>Check Your Vehicle Warranty</h2>
              <form ng-submit="submitVehicleInfo()">
                <label for="vehicleType">Vehicle Type:</label>
                <input type="text" id="vehicleType" ng-model="vehicleType" required />

                <label for="licensePlate">License Plate:</label>
                <input type="text" id="licensePlate" ng-model="licensePlate" required />

                <label for="engineNumber">Engine Number:</label>
                <input type="text" id="engineNumber" ng-model="engineNumber" required />

                <button type="submit" class="submitbtn">Submit</button>
              </form>

              <div id="warrantyExpirationPopup">Warranty Expiration Date: <span id="warrantyExpirationDate"></span></div>
            </div>
          </div>

          <div class="form-popup" id="servicePopup">
            <div class="form-popup-content">
              <span class="close-button" ng-click="closeServicePopup()">&times;</span>
              <h2>Schedule Your Vehicle Service</h2>

              <form ng-submit="submitServiceInfo()">
                <label for="serviceType">Service Type:</label>
                <select id="serviceType" ng-model="serviceType">
                  <option value="oilChange">Oil Change</option>
                  <option value="tireRotation">Tire Rotation</option>
                  <option value="brakeInspection">Brake Inspection</option>
                </select>

                <label for="appointmentDate" class="appointmentDate-label">Appointment Date:</label>
                <input type="date" id="appointmentDate" required />

                <label for="appointmentTime">Appointment Time:</label>
                <input type="time" id="appointmentTime" required />

                <button type="submit" class="submitbtn">Submit</button>
              </form>
            </div>
          </div>
        </section>

        <section id="promotion" class="hidden section" ng-controller="myController">
          <h3>Honda Promotions</h3>

          <div class="card-container">
            <div class="card" ng-repeat="promotion in promotions" ng-class="'card-' + $index">
              <div class="head-card">
                <img ng-src="{{ promotion.image }}" alt="{{ promotion.title }}" class="card-image" />
              </div>
              <div class="body-card">
                <h2>{{ promotion.title }}</h2>
                <p>{{ promotion.description }}</p>
                <!-- <button class="promo-button" ng-click="handlePromotionClick(promotion)"> -->
                <button class="promo-button" onclick="alert('ORDER SUCCESSFULLY')">Order Now !!!</button>
              </div>
            </div>
          </div>
        </section>

        <section id="news" class="hidden section">
          <h3>Honda News</h3>
          <div class="news-container">
            <div class="news-item" ng-repeat="news in newsItems">
              <a ng-href="{{ news.link }}" target="_blank" class="news-link">
                <div class="news-content">
                  <h2 class="news-title">{{ news.title }}</h2>
                  <p>{{ news.description }}</p>
                </div>
                <img ng-src="{{ news.image }}" alt="{{ news.title }}" class="news-image" />
              </a>
            </div>
          </div>
        </section>
        <section id="about us" class="about-us" ng-controller="AboutUsController">
          <h1>About Us</h1>
          <div class="about-us-content">
            <!-- Display members' names and images -->
            <div class="members-container">
              <div class="member" ng-repeat="member in members">
                <img ng-src="{{ member.image }}" alt="{{ member.name }}" alt="{{ member.nim }}" class="member-image" />
                <h2>{{ member.name }}</h2>
                <h3>{{ member.nim }}</h3>
              </div>
            </div>

            <!-- Content from the second code snippet -->
            <div class="about-container">
              <section class="heading">
                <h1><span>Kelompok</span> {{ kelompok }}</h1>
                <br />
                <p>Kelompok yang berisikan anak - anak FTI Untar kelas A yang memiliki kemampuan coding yang berbeda - beda</p>
                <br />
                <div class="homeimg">
                  <img src="assets/klmpk_ngtuk.jpg" />
                </div>
              </section>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script>
      const links = document.querySelectorAll(".link");

      // Remove the lock icon and prevent sidebar locking
      const lockIcon = document.querySelector("#lock-icon");
      lockIcon.parentNode.removeChild(lockIcon);

      // Function to show the sidebar when the mouse enters
      const showSidebar = () => {
        document.querySelector(".sidebar").classList.remove("close");
      };

      // Function to hide the sidebar when the mouse leaves
      const hideSidebar = () => {
        document.querySelector(".sidebar").classList.add("close");
      };

      // Add event listeners for sidebar hover events
      document.querySelector(".sidebar").addEventListener("mouseenter", showSidebar);
      document.querySelector(".sidebar").addEventListener("mouseleave", hideSidebar);

      // Add event listeners for sidebar opening/closing
      const sidebarOpenBtn = document.querySelector("#sidebar-open");
      sidebarOpenBtn.addEventListener("click", toggleSidebar);
      const sidebarCloseBtn = document.querySelector("#sidebar-close");
      sidebarCloseBtn.addEventListener("click", toggleSidebar);
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
